/* Colours */
*:not(li, a) {
	background-color: #20313c;
}

.btn-secondary {
	background-color: #04d45d !important;
	border: none;
}

.btn-secondary:hover {
	background-color: #04c256 !important;
}

.bg-secondary {
	background-color: #001e2b !important;
}

body {
	height: 100vh;
	min-height: 20rem;
	display: flex;
	flex-direction: column;
}

header {
	flex: 0 2rem;
	padding: 0.5rem;
	color: white;
	display: flex;
	flex-direction: row;
}

header a {
	position: relative;
	left: 2.5rem;
}

footer {
	background: #323232;
	flex: 0 2rem;
}

#github-logo {
	height: 1.5rem;
	margin-left: 0.5rem;
}

main {
	flex: 1 calc(100vh - 4rem);
	display: flex;
	flex-direction: row;
	background: #323232;
}

h2 {
	color: white;
}

.green-link {
	color: #04d45d;
}

.green-link:hover {
	transition: 0.2s ease-in;
	color: #04c256;
}

/* Song title / save button */

#title {
	position: relative;
	left: 3rem;
	border-radius: 0.2rem;
	width: 12rem;
}

#title ~ button {
	position: relative;
	left: 3rem;
	margin-left: 0.5rem;
}

/* Sign In */
#login {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	padding-right: 0.5rem;
}

#login button {
	margin-left: 0.5rem;
}

#login-name {
	width: 9.2rem;
}

/* Song writer interface */

.writer,
.songs,
.chatContainer,
#signInForm {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.song,
.chat {
	background-color: #001e2b;
	border-radius: 0.5rem;
	width: 50vw;
	height: 80vh;
	overflow: scroll !important;
}

div.line,
.message {
	margin: 0.5rem 0.5rem 0 0.5rem;
	border-radius: 0.2rem;
	padding: 0.5rem;
	overflow: hidden;
	text-align: center;
	color: white;
	/* animation: expand 0.3s;
	 */
	transition: 0.4s ease-in;
}

div.line:hover {
	cursor: pointer;
	background-color: #d40404;
}

#lineInput,
#chatInput {
	margin-top: 0.5rem;
	width: 50vw;
}

/* Saved Songs / Chat */

#displayList {
	background-color: #001e2b;
	border-radius: 0.5rem;
	width: 50vw;
	height: 85vh;
	margin-bottom: 0;
	padding: 1rem 0 0 0 !important;
	list-style: none;
	overflow: scroll;
}

.item-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.saved-song {
	background-color: #20313c;
	border-radius: 0.5rem;
}

.saved-song,
.online-user {
	color: white;
	padding: 1rem;
	font-size: 1.2rem;
	width: 15rem;
	text-align: center;
}

.saved-song:hover {
	background-color: white !important;
	transition: 0.2s ease;
	color: #444 !important;
	cursor: pointer;
}

.saved-item {
	background-color: #001e2b;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.saved-item {
	margin-left: 4rem;
}

.space-holder {
	display: inline !important;
}

.delete,
.space-holder {
	background-color: transparent;
	color: white;
	border: none;
	width: 3rem;
	height: 3rem;
	margin-left: 1rem;
	border-radius: 100% !important;
}

.delete {
	display: none !important;
}

.delete:hover {
	background-color: #ff3636;
	transition: 0.2s ease;
}

.saved-item:hover .delete {
	display: inline !important;
}

.saved-item:hover .space-holder {
	display: none !important;
}

/* Sliding side menu */

.menu {
	position: fixed;
	top: 0.15rem;
	left: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 3rem;
	height: 3rem;
	transition: transform 250ms ease;
	cursor: pointer;
	z-index: 200;
}

.menu span {
	background-color: white;
	position: relative;
	display: block;
	width: 50%;
	height: 2px;
	float: left;
	transform-origin: center center;
	transition: transform 250ms ease;
	z-index: 200;
}

.menu span:nth-of-type(1) {
	transform: translateY(-5px);
}

.menu span:nth-of-type(3) {
	transform: translateY(5px);
}

#menu {
	display: none;
}

#menu:checked ~ .menu {
	background-color: transparent;
}

#menu:checked ~ .menu span {
	background-color: white;
	transition: transform 250ms ease;
}

#menu:checked ~ .menu span:nth-of-type(1) {
	transform: translateY(1px) rotate(45deg);
}

#menu:checked ~ .menu span:nth-of-type(2) {
	display: none;
}

#menu:checked ~ .menu span:nth-of-type(3) {
	transform: translateY(-1px) rotate(-45deg);
}

#menu:checked ~ nav {
	left: 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	transition: left 0.3s ease;
}

.nav {
	position: fixed;
	top: 0;
	left: -17.5rem;
	width: 17.5rem;
	height: 100vh;
	margin: 0;
	padding: 0;
	transition: left 0.3s ease;
	z-index: 0;
}

.nav ul {
	position: relative;
	top: 5rem;
	padding: 0;
	list-style: none;
}

.nav li {
	width: 17.5rem;
	/* padding: 1rem; */
	border-bottom: 0.25rem solid white;
}

li a {
	padding: 1rem;
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

.nav li:nth-of-type(1) {
	border-top: 0.25rem solid white;
}

.nav li:hover {
	background-color: white !important;
	transition: 0.2s ease;
}

.nav li:hover a {
	color: #444;
	transition: 0.2s ease;
}

.nav a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

/* Sign In Page */
#signInErrorMessage {
	height: 3rem;
	color: white;
	padding: 0.5rem;
	transition: all 0.2s ease-in;
	text-align: center;
}

#passwordInput {
	margin-top: 1rem;
}
.signin-buttons {
	margin-top: 1rem;
}

#createUserSubmit {
	float: right !important;
}

#backArrow {
	left: 0.3rem;
	top: -0.3rem;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	z-index: 10;
}

#back-arrow:hover {
	color: rgb(211, 211, 211);
}

#quoteContainer {
	margin-top: 1rem;
	max-width: 70vw;
}

#quote {
	color: white;
}

/* Media Queries */

@media (width < 34rem) {
	#login {
		display: none;
	}
}

/* highlight color: #04d45d */

@keyframes expand {
	from {
		margin: 0.5rem 0.5rem 0 0.5rem;
	}
	50% {
		margin: 0.5rem 0 0 0;
	}
	to {
		margin: 0.5rem 0.5rem 0 0.5rem;
	}
}
