* {
	background: #323232;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background: #323232;
	flex: 0 3rem;
}

footer {
	background-color: #f4be44;
	flex: 0 2rem;
}

main {
	flex: 1 calc(100vh - 4rem);
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-areas: 'saved-songs song online-users';
}

.sidebar {
	background-color: #3b3b3b;
}

li {
	text-align: center;
}

.sidebar:hover {
	border-bottom: 0.5rem solid #006d8d;
}

.saved-songs {
	grid-area: saved-songs;
}

.saved-songs li:hover {
	border-right: 0.5rem solid #006d8d !important;
}

.online-users {
	grid-area: online-users;
}

.online-users li:hover {
	border-left: 0.5rem solid #006d8d !important;
}

.content {
	background: #323232;
	grid-area: song;
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
	grid-template-rows: 9fr 1fr;
	grid-template-areas:
		'. song .'
		'. input .';
}

.song {
	background-color: #3b3b3b;
	grid-area: song;
}

#input {
	padding: 0.5rem;
	/* background-color: #f4be44; */
	grid-area: input;
}

#input:focus {
	border: 0.3rem solid #006d8d;
	color: #fff;
	margin: -0.25rem;
	outline: none;
}

.navbar-brand {
	padding-left: 0.3em;
	border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
	padding: 0 0.3rem;
}

#others-online {
	position: fixed;
	right: 1rem;
	bottom: 8rem;
}
