body {
	height: 100%;
	min-height: 20rem;
	display: flex;
	flex-direction: column;
}

header {
	background: #323232;
	flex: 0 2rem;
	padding: 0.5rem;
}

footer {
	background: #323232;
	/* position: fixed;
	bottom: 0; */
	flex: 0 2rem;
}

main {
	flex: 1 calc(100vh - 4rem);
	display: flex;
	max-height: 90vh;
	flex-direction: row;
	/* min-height: 35rem; */
	background: #323232;
}

.content {
	background: #323232;
	height: 100%;
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 7fr 1fr;
	grid-template-areas:
		'. song .'
		'. input .';
}

.song {
	background-color: #3b3b3b;
	grid-area: song;
	border-radius: 0.5rem;
	overflow: scroll;
}

div.line {
	margin: 0.5rem 0.5rem 0 0.5rem;
	border-radius: 0.2rem;
	padding: 0.5rem;
	background-color: #323232;
}

#inputArea {
	padding: 1rem 0 !important;
	grid-area: input;
	display: flex;
	flex-direction: row;
}

#inputArea:focus {
	border: 0.3rem solid #006d8d;
	color: #fff;
	margin: -0.25rem;
	outline: none;
}

.navbar-brand {
	padding-left: 0.3em;
	border-bottom: solid rgb(182, 182, 182) thin;
}

#others-online {
	position: fixed;
	right: 1rem;
	bottom: 8rem;
}

.menu {
	position: fixed;
	top: 3rem;
	left: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 3rem;
	height: 3rem;
	background-color: white;
	border-radius: 50%;
	transition: transform 250ms ease;
	cursor: pointer;
	z-index: 200;
}

.menu span {
	background-color: #444;
	position: relative;
	display: block;
	width: 50%;
	height: 2px;
	float: left;
	transform-origin: center center;
	transition: transform 250ms ease;
	z-index: 200;
}

.menu span:nth-of-type(1) {
	transform: translateY(-5px);
}

.menu span:nth-of-type(3) {
	transform: translateY(5px);
}

#menu {
	display: none;
}

#menu:checked ~ .menu {
	background-color: transparent;
}

#menu:checked ~ .menu span {
	background-color: white;
	transition: transform 250ms ease;
}

#menu:checked ~ .menu span:nth-of-type(1) {
	transform: translateY(1px) rotate(45deg);
}

#menu:checked ~ .menu span:nth-of-type(2) {
	display: none;
}

#menu:checked ~ .menu span:nth-of-type(3) {
	transform: translateY(-1px) rotate(-45deg);
}

#menu:checked ~ nav {
	left: 0;
	transition: left 0.3s ease;
}

.nav {
	position: fixed;
	top: 0;
	left: -18rem;
	width: 18rem;
	height: 100vh;
	margin: 0;
	padding: 0;
	transition: left 0.3s ease;
	z-index: 0;
}

.nav ul {
	position: relative;
	top: 6rem;
	padding: 0;
	list-style: none;
}

.nav li {
	width: 18rem;
	padding: 1rem;
	border-bottom: 0.5rem solid white;
}

.nav li:nth-of-type(1) {
	border-top: 0.5rem solid white;
}

.nav li:hover {
	background-color: white;
	transition: 0.2s ease;
}

.nav li:hover a {
	color: #444;
	transition: 0.2s ease;
}

.nav a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

@media (max-width: 50rem) {
	.sidebar {
		display: none;
	}

	.content {
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 9fr 1fr;
		grid-template-areas:
			'. song .'
			'. input .';
	}
}
